@font-face {
    font-family: 'iranyekanwebregular';
    src: url('../fonts/iranyekanwebregular.woff') format('woff');
}
@font-face {
    font-family: 'iranyekanwebbmedium';
    src: url('../fonts/iranyekanwebmedium.woff') format('woff');
}
@font-face {
    font-family: 'iranyekanBakhBold';
    src: url('../fonts/YekanBakhBold.woff') format('woff');
}
@font-face {
    font-family: 'iranyekanBakhHeavy';
    src: url('../fonts/YekanBakhHeavy.woff') format('woff');
}
@font-face {
    font-family: 'iranyekanBakhMedium';
    src: url('../fonts/YekanBakhMedium.woff') format('woff');
}